@import url(material-design-iconic-font.css);

@font-face {
	font-family: "Babylon5";
	src: url("../fonts/B5______.eot?") format("eot"), 
		 url("../fonts/B5______.woff") format("woff"), 
		 url("../fonts/B5______.ttf") format("truetype"), 
		 url("../fonts/B5______.svg#Babylon5") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?49yzs7');
  src:  url('../fonts/icomoon.eot?49yzs7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?49yzs7') format('truetype'),
    url('../fonts/icomoon.woff?49yzs7') format('woff'),
    url('../fonts/icomoon.svg?49yzs7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-automobile:before {
  content: "\e904";
}
.icon-car:before {
  content: "\e904";
  font-size: .95rem;
  line-height: 20px;
  color: #000a7b;
}


.icon-primitive-dot:before {
  content: "\e900";
  font-size: .9rem;
  line-height: 20px;
  color: #00A432;
  /*color: #ED0000;*/
}
.icon-mobile:before {
  content: "\e901";
  font-size: 1rem;
  color: #000a7b;
  margin-right:7px;
  text-shadow: 1px 1px 1px #7E7E7E;
}
.icon-cell-phone:before {
  content: "\e901";
}
.icon-handheld:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
  font-size: 1rem;
  color: #000a7b;
  margin-right:7px;
  text-shadow: 1px 1px 1px #7E7E7E;
}
.icon-telephone:before {
  content: "\e902";
}
.icon-contact:before {
  content: "\e902";
}
.icon-support:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
  font-size: 1rem;
  color: #000a7b;
  margin-right:7px;
  text-shadow: 1px 1px 1px #7E7E7E;
}
.icon-house:before {
  content: "\e903";
}

.zmdi-walk:before {
  content: '\f216';
}


html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: calibri, sans-serif;
}

h1 {
	color: #000a7b;
	text-shadow: 1px 1px 1px #07164C;
}

.header{
	text-align: center;
}
/*Estilos del infoWindow*/

img,h3, h4, p {
	padding: 0;
	margin: 0;
	font-size: 100%;	
}

.iw-title {
	position: relative;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	
	/*line-height: 30px;*/
	/*font-weight: 400;*/
	padding: 5px;
	background-color: #000a7b;
	color: white;	
}


.iw-title img {
	width: 2.9rem;
	margin-left: 8px;
}

.iw-title h3 {
	margin-left: .9rem;
	font-size: 1.3rem;
	padding: 2px;
}

.iw-titleppal {
	position: relative;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 316px;
	
	/*line-height: 30px;*/
	/*font-weight: 400;*/
	padding: 5px;
	background-color: #FFFFFF;
	color: #000a7b;
	border-bottom: 1px solid #000a7b;
}

.iw-titleppal img {
	width: 2.9rem;
	margin-left: 8px;
}

.iw-titleppal h3 {
	margin-left: .9rem;
	font-size: 1.3rem;
	padding: 2px;
}


#iw-container  .iw-title  {
	/*font-family: 'Babylon5', calibri;*/
	padding: 5px 10px 5px 0px;
	/*background-color: #000a7b;*/
	color: white;
	margin: 1px;
	border-radius: 2px 2px 0 0; 
	max-height: 140px;
	/*overflow-y: auto;
	overflow-x: hidden;*/
}

#iw-container  .iw-titleppal  {
	/*font-family: 'Babylon5', calibri;*/
	padding: 5px 10px 5px 0px;
	/*background-color: #000a7b;*/
	color: wh#000a7e;
	margin: 1px;
	border-radius: 2px 2px 0 0; 
	max-height: 140px;
	/*overflow-y: auto;*/
	/*overflow-x: hidden;*/
}

.iw-content{
	max-width: 325px;
}

.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}

.gm-style-iw {
	max-width: 350px !important;
   	top: 0 !important;
   	left: 0 !important;   	
}

.gm-style-iw {
	max-width: 330px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(5, 20, 135, 0.6);
	border: 1px solid rgba(5, 20, 135, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
	max-width: 360px ;
}

.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}

.iw-content{
	margin: 0 5px;
	margin-top: 10px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.row-content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 6px 3px;
	color: #000000;
	/*border: 1px solid #B207BD;*/
}

.final{
	margin: 0 0 10px 3px;
	border-bottom: 1px solid #AEAEAE;
}


.infocontent{
	font-size: 1rem;
	font-weight: 300;
	text-shadow: 1px 1px 1px #C1C1C1;
	/*border: 1px solid green;*/
}

.infoestado{
	font-size: .8rem;
}

.row-content a, a:visited{
	text-decoration: none;
	color: #010101;
}

.titlesection{
	text-align: left;
	margin: 0 0 3px 5px;
	width: 100%;
}

.titlesection h3{
	color: #585858 ;
	font-size: .95rem;
	font-family: Roboto,Arial,sans-serif;
	/*font-weight: bold;*/
}

.layoutcontent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.layoutcontentbutton{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: flex-start;
}

/*contiene generalmente contenedores contentestado*/
.contentinfo{
	display: flex;
	flex-flow: column;
}

.contentestado{
	display: flex;
	font-size: .85rem;
	flex-flow: column;
	padding: 2px 2px 2px 4px;
	margin-bottom: 3px;
	border-right:  1px solid #747474;
}

.contentestado:last-child{	
	border-right:  none;
}

.titleestado{
	color: #585858 ;
	font-size: .75rem;
	font-family: Roboto,Arial,sans-serif;
	margin-left: 0px;
	/*font-weight: bold;*/

}

.infoestado{
	color: #383838;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttonruta{
  display: flex;
  align-items: center;
  margin: 3px 0 3px 10px;
  border-radius: 4px;
  border: 1px solid #002B7B;
  color: #002B7B;
  padding: 4px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: .75rem;
  /*font-weight: bold;*/
  background: #F9F9F9;
  /*background: linear-gradient(to bottom, #005FB0, #000A7B);*/
}

.buttonruta:hover{ 
  border: 1px solid #002B7B;
  color: #FFFFFF;
  font-size: .75rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #001D7B ,  #005FB0);
}

.buttonruta:visited{
	outline:0;	
} 




/**--*/
.iw-contentppal{
	margin: 0 5px;
	margin-top: 10px;
	/*border-bottom: 1px solid #9E9E9E;*/
}

.iw-contentppal p {
	margin: 5px 1px 5px 10px;	
	text-shadow: 1px 1px 1px #C1C1C1;
}

.iw-contentppal .horario{
	margin-left: 10px;
	padding-bottom: 10px;
}

.iw-contentppal a {
	text-decoration: none;
	color: #000000;
	font-size: 1.1rem;	
	text-shadow: 1px 1px 1px #C1C1C1;
}

.iw-contentppal a:visited {
	color:#060101;	
}

.iw-contentppal h3 {
	color:#FA4A4A;	
	font-size: 1.2rem;
	padding: 0;
	margin: 5px 1px 5px 10px;
	text-shadow: 1px 1px 1px #C1C1C1;
}

.iw-contentppal .icon-home:before, .iw-contentppal .icon-phone:before, .iw-contentppal .icon-mobile:before{
	color: #E10000;
}

/**--*/
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

/*Estilos del mapa contenedor*/
#mainc{
	height: 500px;
	max-width: 900px;
	margin: 0 auto;
	background: #fff;
    padding: 20px;
    /*box-shadow: 0 0 20px #999;*/
    box-shadow: 0 1px 3px #999;
    border-radius: 5px;
    border: 1px solid #B5B5B5;
}

#map {	
	height: 500px;
	max-width: 100%;
}

#map h1 {
	color: #0101BE;
	text-shadow: 1px 1px 1px #444444;
	font-size: 1.1rem;
}

#map p a{
	font-size: .9rem;
	text-shadow: 1px 1px 1px #C1C1C1;
}

#map .sucursal {
	color: #FF4444;
	text-shadow: 1px 1px 1px #353535;
}